<div class="container">

  <div class="header_index">
      <h1>Children list</h1>
      <form novalidate="novalidate" class="simple_form search" action="/kids" accept-charset="UTF-8" method="get"><input name="utf8" type="hidden" value="Search" />
        <div class="search-form-control form-group">
          <input class="form-control string required" type="text" name="query" id="query" placeholder="Search by city or service..." />
          <button name="button" type="submit" class="btn btn-flat">
            <i class="fas fa-search"></i>
          </button>
        </div>
      </form>
  </div>


  <div class="cards">
      <% @kids.each do |kid| %>
          <div class="card-kid">
            <%= link_to kid_path(kid), class:"card-link" do %>
              <div class="card_picture" style="background-image: url(https://images.unsplash.com/photo-1565538420870-da08ff96a207?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=750&q=80)">
              </div>
              <div class="info_prix">
                <p><%= kid.name %></p>
                <p><%= kid.price %>€/heure</p>
              </div>
              <div class="location_review">
                <i class="fas fa-map-marker-alt custom-marker"></i>
                <p><%= kid.localisation %></p>
                <p id="localisation"><%= kid.service %></p>
              </div>
              <div class="book-me">
                <%= link_to "Book me!", kid_path(kid), class: "btn btn-flat" %>
              </div>
            <% end %>
          </div>
      <% end %>
  </div>
  <hr>
  <%= link_to 'Back to top', kids_path, class: "btn btn-flat" %>
</div>
