<div class="container">
  <h2><%= @kid.name %></h2>
  <p><%= @kid.age %></p>
  <p><%= @kid.localisation %></p>
  <p><%= @kid.service %></p>
  <p><%= @kid.price %></p>
  <%= cl_image_tag @kid.photo.key, height: 300, width: 400, crop: :fill %>
  <hr>
  <%= link_to 'Back to list', kids_path, class: "btn btn-ghost" %>
  <%= link_to "Book #{@kid.name}", new_kid_booking_path(@kid), class: "btn btn-success" %>
  <%= link_to 'Edit', edit_kid_path(@kid), class: "btn btn-ghost" %>
  <%= link_to "Delete #{@kid.name}", kid_path(@kid), method: :delete, data: { confirm: "Are you sure ?" }, class: "btn btn-danger" %>
  <hr>
</div>

