
  <div class="container">
    <h1>Book a child</h1>
    <div class="d-flex flex-row justify-content-between">
      <div class="col-8">
        <h2><%= @kid.name %>, from <%= @kid.localisation %></h2>
        <%= form_with(url:"/result", method: "get", local: true, class: "form-group") do |f| %>
          <%= f.label :need, "Service" %>
          <%= f.text_field :need, as: :string, label: false, class: "form-control" %>
          <%= f.date_field :starts_at, as: :string, required: false, class: "form-control", input_html: {class: "datepicker"} %>
          <%= f.date_field :ends_at, as: :string, required: false, class: "form-control", input_html: {class: "datepicker"} %>
          <%= f.hidden_field :id, value: @kid.id %>
          <%= f.submit "Rent me !", class: "big-btn hover shadow-btn" %>
        <% end %>
      </div>
      <div id="checkout" class="col-4 d-inline-flex flex-column">
        <div class="checkout">
          <h3>Checkout</h3>
        </div>
        <div class="checkout-details">
          <div class="checkout-image">
            <% if @kid.photo.attached? %>
              <%= cl_image_tag @kid.photo.key, height: 60, width: 60, crop: :fill %> 
            <% end %>
          </div>
          <div class="checkout-infos">
            <h4><%= @kid.name %>, from <%= @kid.localisation %></h4>
            <hr>
          </div>
          <div class="checkout-price-details">
            <div class="text">
              <p>Total of day(s) :</p>
              <p>Subtotal :</p>
              <p>Service fee :</p>
              <hr>
              <p>Total :</p>
            </div>
            <div class="price">
              <p>2 days</p>
              <p><%= @kid.price %>€</p>
              <p>15€</p>
              <hr>
              <% @sum = @kid.price * 2 + 15 %>
              <p><%= @sum %>€</p>
            </div>
          </div>
        </div>
      </div>
    </div>

  <hr>
  <%= link_to 'Back to list', kids_path, class: "btn btn-flat" %>
  </div>
</div>
